/* MEYER RESET START */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* MEYER RESET END */

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  /* Primary */

  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral */

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  --font-scaling: 1.25;
  --burger-line-distance: 7px;
  --burger-icon-size: 40px;
}

body {
  font-size: 15px;
  /* Weights: 400, 700, 800 */
  font-family: Inter, sans-serif;
  background-color: var(--off-white);
  display: grid;
  justify-content: center;
}

body * {
  display: grid;
  justify-items: start;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

main {
  width: 345px;
  margin: 30px 0px 55px 0px;
  gap: 2rem;
}

.page-header {
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  /* position: absolute; */
  position: sticky;
  top: 0;
  background-color: var(--off-white);
  gap: 2rem;
  margin-top: 2rem;
}

.page-header nav {
  justify-self: end;
}

.page-header nav a {
  color: var(--grayish-blue);
  text-decoration: none;
}

.page-header .logo {
  height: 30px;
  width: auto;
}

.headline-article {
  gap: 2rem;
}

.headline-article div {
  gap: 2rem;
}

.headline-article .hero-image {
  width: 100%;
  height: auto;
}

.headline-article p {
  color: var(--dark-grayish-blue);
}

.headline-article .button {
  color: var(--off-white);
  font-weight: 400;
  letter-spacing: 4px;
  background-color: var(--soft-red);
  padding: 15px 30px 15px 30px;
  cursor: pointer;
}

.headline-article .button:hover {
  background-color: var(--very-dark-blue);
}

.new-articles {
  background-color: var(--very-dark-blue);
  padding: 30px 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;

  /* padding values for desktop */
  /* padding: 40px 25px; */
}

.new-articles section {
  gap: 1.5rem;
}

.new-articles section div {
  gap: 0.5rem;
}

h1 {
  font-size: calc(32px * var(--font-scaling));
  font-weight: 800;
  width: 90%;
}

h2 {
  font-size: calc(25px * var(--font-scaling));
  font-weight: 700;
  color: var(--soft-orange);
}

h3 {
  font-size: 20px;
  font-weight: 800;
  color: var(--off-white);
}

h3:hover {
  cursor: pointer;
}

.new-articles section div p {
  color: var(--grayish-blue);
  line-height: 1.5rem;
}

.new-articles hr {
  width: 100%;
}

.new-articles h3:hover {
  color: var(--soft-orange);
}

.ranked-articles {
  gap: 2rem;
}

.ranked-articles li {
  height: 130px;
  /* flex-wrap: nowrap; */
  gap: 1.5rem;
  /* FIXME: */
  grid-template-columns: auto 1fr;
}

.ranked-articles li img {
  height: inherit;
}

.ranked-articles h3 {
  color: var(--very-dark-blue);
  font-size: 1.1rem;
  align-content: center;
}

.ranked-articles h3:hover {
  color: var(--soft-red);
}

.ranked-articles li > div {
  /* grid-template-rows: repeat(3, 1fr); */
}

.ranked-articles li > div div {
  color: var(--grayish-blue);
  font-size: 2rem;
  font-weight: 700;
}

.ranked-articles li > div p {
  color: var(--dark-grayish-blue);
  /* line-height: 1.6rem; */
}

/* BURGER MENU menu */

.page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--very-dark-blue);
  opacity: 0.4;
  transition: all 0.4s ease;
  visibility: hidden;
}

.toggler {
  /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
  z-index: 3;
  height: var(--burger-icon-size);
  width: var(--burger-icon-size);
  position: absolute;
  cursor: pointer;
  margin: 0;
  opacity: 0;
}

.hamburger {
  z-index: 2;
  height: var(--burger-icon-size);
  width: var(--burger-icon-size);

  /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */

  display: flex;
  align-items: center;
  justify-content: center;
}

/* CREATING THE MIDDLE LINE OF THE HAMBURGER : */

.hamburger > div {
  position: relative;
  top: 0;
  right: 0;
  background: var(--very-dark-blue);
  height: 3px;
  width: 100%;
  transition: all 0.4s ease;
}

/* CREATING THE TOP AND BOTTOM LINES : 
TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */

.hamburger > div::before,
.hamburger > div::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--burger-line-distance));
  background: var(--very-dark-blue);
  width: 100%;
  height: 3px;
  transition: all 0.4s ease;
}

.hamburger > div::after {
  top: var(--burger-line-distance);
}

/* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

.toggler:checked + .hamburger > div {
  background: rgba(0, 0, 0, 0);
}

.toggler:checked + .hamburger > div::before {
  top: 0;
  transform: rotate(45deg);
  background: var(--very-dark-blue);
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */

.toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(135deg);
  background: var(--very-dark-blue);
}

/* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */

.menu {
  background: var(--off-white);
  width: 0%;
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;

  /* APPLYING TRANSITION TO THE MENU :  */

  transition: all 0.4s ease;
}

/* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */

.toggler:checked ~ .menu {
  width: 70%;
}

/* STYLING THE LIST :  */

.menu > div > ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 1rem;
  top: 150px;
  padding-left: 10px;

  /* HIDDEN INITIALLY  :  */

  visibility: hidden;
}

.menu > div > ul > li {
  list-style: none;
  padding: 0.5rem;
}

.menu > div > ul > li > a {
  color: var(--very-dark-blue);
  text-decoration: none;
  font-size: 1.1rem;
}

/* WHEN THE TOGGLER IS CHECKED, CHANGE THE VISIBILITY TO VISIBLE :  */

.toggler:checked ~ .menu > div > ul {
  transition: visibility 0.4s ease;
  transition-delay: 0.1s;
  visibility: visible;
}

.toggler:checked ~ .menu > div > ul > li > a:hover {
  color: var(--soft-red);
}

@media (min-width: 1110px) {
  main {
    width: 80dvw;
    grid-template-columns: 1fr auto;
  }
}
